---
import Layout from "../../../layouts/Layout.astro";
import Godzilla2 from './godzilla2.astro';

const response = await fetch("http://192.168.0.94:8888/intGodzilla");
const data = await response.json();

---

<Godzilla2 />

<Layout title="Godzilla">
    <main>
        <div class="grid grid-cols-5 gap-2 flex items-center">
            {
                data.map((d) => (
                    <div class="m-4">
                        <img
                            id={d.movname}
                            src={d.httpthumbpath}
                            class="max-w-full h-auto rounded-lg"
                            alt={d.movname}
                        />
                    </div>
                ))
            }
        </div>
    </main>
</Layout>
