---
import Layout from "../../../layouts/LayoutPage.astro";
import Riddick2 from "./riddick2.astro";

const response = await fetch("http://192.168.0.94:8888/intRiddick");
const data = await response.json();

---

<Riddick2 />

<Layout title="Riddick">
    <main>
        <div class="grid grid-cols-5 gap-2 flex items-center">
            {
                data.map((d) => (
                    <div class="m-4">
                        <img
                            id={d.movname}
                            src={d.httpthumbpath}
                            class="max-w-full h-auto rounded-lg"
                            alt={d.movname}
                        />
                    </div>
                ))
            }
        </div>
    </main>
</Layout>
