---
import Layout from '../layouts/Layout.astro';
---

<Layout title="MovFlo">
	<main>
		<h1 class="mb-9 mt-9 text-center text-6xl text-purple-500">MTV</h1>
		<center>
				<a href="/tvshowspage">
					<svg 
						class="fill-white w-12" 
						xmlns="http://www.w3.org/2000/svg" 
						viewBox="0 0 640 512">
						<path d="M64 64V352H576V64H64zM0 0H64 576h64V64 352v64H576 64 0V352 64 0zM128 448H512h32v64H512 128 96V448h32z"/>
					</svg>
				</a>
		</center>
		<div class="mt-9 grid sm:grid-cols-2 md:grid-cols-3 gap-2">
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/action/action">Action</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/arnold/arnold">Arnold</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/brucewillis/brucewillis">Bruce Willis</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/cartoons/cartoons">Cartoons</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/comedy/comedy">Comedy</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/drama/drama">Drama</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/documentary/documentary">Documentary</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/fantasy/fantasy">Fantasy</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/godzilla/godzilla">Godzilla</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/harrypotter/harrypotter">Harry Potter</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/indianajones/indianajones">Indiana Jones</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/jamesbond/jamesbond">James Bond</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/johnwayne/johnwayne">John Wayne</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/johnwick/johnwick">John Wick</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/jurassicpark/jurassicpark">Jurassic Park</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/kingsmen/kingsmen">Kings Men</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/meninblack/meninblack">Men In Black</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/misc/misc">Misc</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/nicolascage/nicolascage">Nicolas Cage</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/pirates/pirates">Pirates</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/riddick/riddick">Riddick</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/starwars/starwars">Star Wars</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/startrek/startrek">Star Trek</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/superheros/superheros">Super Heroes</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/scifi/scifi">SciFi</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/tomcruize/tomcruize">Tom Cruize</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/transformers/transformers">Transformers</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/tremors/tremors">Tremors</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/therock/therock">The Rock</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/xmen/xmen">XMen</a>
			</div>
		</div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 80ch;
	}
</style>
