---
import Layout from "../../../layouts/LayoutPage.astro";
import IndianaJones2 from "./indianajones2.astro";

const response = await fetch("http://192.168.0.94:8888/intIndianaJones");
const data = await response.json();
---

<IndianaJones2 />

<Layout title="Indiana Jones">
    <main>
        <div class="grid grid-cols-4 gap-2 flex items-center">
            {
                data.map((d) => (
                    <div class="m-4">
                        <img
                            id={d.movname}
                            src={d.httpthumbpath}
                            class="max-w-full h-auto rounded-lg"
                            alt={d.movname}
                        />
                    </div>
                ))
            }
        </div>
    </main>
</Layout>
